/* BANNER */
.section-banner {
    min-height: 100vh;
    background-image: url('../img/fundo.svg');
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.section-banner h1 {
    padding: var(--gap);
    color: var(--cinza-claro);
    text-transform: uppercase;
    font-family: var(--raleway);
    letter-spacing: 0.3rem;
    font-size: 1.9rem;
    max-width: 40vw;
    min-width: 50vw;
}

.section-banner div p {
    color: var(--cinza-claro);
    line-height: 1.4;
    padding: 0 var(--gap) ;
    font-size: 1.2rem;
    max-width: 40vw;
    min-width: 50vw;
}

.section-banner div img {
    min-width: 30vw;
    max-width: 32vw;
    padding: var(--gap);
}

/* MEDIAS QUERIES */

@media (max-width: 800px) {
    .section-banner {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .section-banner div p {
        line-height: 1.25;
        padding: 0 var(--gap) ;
        font-size: 1.2rem;
        max-width: 70vw;
        min-width: 50vw;
    }

    .section-banner div img {
        max-width: 45vw;
    }
}